<!-- Slider -->
<!-- Professional Slider -->
<div class="slider" id="slider">
  <div class="slide-track">
    <div class="slide"><img src="/images/slider/slider1.jpg" alt="Slide 1" /></div>
    <div class="slide"><img src="/images/slider/slider2.jpg" alt="Slide 2" /></div>
    <div class="slide"><img src="/images/slider/slider3.jpg" alt="Slide 3" /></div>
  </div>
</div>



<!-- First Product Section -->
<section class="product-section">
  <h2>Featured Products</h2>
<div class="product-list large-cards">
  <% featured1.forEach(product => { %>
   <div class="product-card large">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
  <div class="card-body">
    <h3 class="product-title"><%= product.title %></h3>
    <h2 class="product-price">Tk<%= product.price %></h2>
    <a href="/product/<%= product._id %>" class="view-btn">View</a>
  </div>
</div>

  <% }) %>
</div>

</section>

<!-- Two Banners Side by Side -->
<div class="double-banner">
  <img src="<%= banner1 %>" alt="Banner 1">
  <img src="<%= banner2 %>" alt="Banner 2">
</div>

<!-- Second Product Section -->
<section class="product-section">
  <h2>New Arrival</h2>
  <div class="product-list small-cards">
    <% featured2.forEach(product => { %>
    <div class="product-card large">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
  <div class="card-body">
    <h3 class="product-title"><%= product.title %></h3>
    <h2 class="product-price">Tk<%= product.price %></h2>
    <a href="/product/<%= product._id %>" class="view-btn">View</a>
  </div>
</div>

    <% }) %>
  </div>
  <div class="button-wrapper">
    <a href="/products" class="view-more-btn">See More Products</a>
  </div>
</section>

<!-- YouTube Videos Section -->
<!-- <section class="video-section">
  <h4 class="section-title">Watch Our Best Wishes</h4>
  <div class="video-cards">
    <% youtubeLinks.forEach((video) => { %>
      <div class="video-card">
        <div class="video-container">
          <iframe class="video-frame" src="<%= video %>" 
            title="YouTube video" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% }) %>
  </div>
</section> -->


<script>
  const track = document.querySelector('.slide-track');
  const slides = document.querySelectorAll('.slide');
  const totalSlides = slides.length;
  let currentSlide = 0;

  setInterval(() => {
    currentSlide = (currentSlide + 1) % totalSlides;
    track.style.transform = `translateX(-${currentSlide * 100}%)`;
  }, 2000); // 2 seconds
</script>


